<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= pageTitle%></a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <%if(Auth.role == 'manager'){%>
          <li class="nav-item <%= pageTitle === 'Users' || pageTitle === 'Create user' ? 'menu-open' : '' %>">
            <a href="#" class="nav-link <%= pageTitle === 'Users' || pageTitle === 'Create user' ? 'active' : '' %>">
              <i class="nav-icon fas fa-users"></i>
              <p>
                User managment
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/users" class="nav-link <%= pageTitle === 'Users' ? 'active' : ''%>">
                  <i class="far fa-circle nav-icon"></i>
                  <p>users</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/users/add" class="nav-link <%= pageTitle === 'Create user' ? 'active' : ''%>">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add new user</p>
                </a>
              </li>
            </ul>
          </li>
          <%}%>
          <%if(Auth.role == 'manager' || Auth.role == 'employee' ){%>
            <li class="nav-item <%= pageTitle === 'Clients' || pageTitle === 'Create client' ? 'menu-open' : '' %>">
              <a href="#" class="nav-link <%= pageTitle === 'Clients' || pageTitle === 'Create cleint' ? 'active' : '' %>">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Clients managment
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/users/clients" class="nav-link <%= pageTitle === 'Clients' ? 'active' : ''%>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>clinets</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/users/clients/add" class="nav-link <%= pageTitle === 'Create client' ? 'active' : ''%>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add new client</p>
                  </a>
                </li>
              </ul>
            </li>
          <li class="nav-item ">
            <a href="#" class="nav-link <%= pageTitle === 'Ships' ? 'active' : '' %>">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Ships managment
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/ships" class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ships</p>
                  </a>
                </li>            
                  <li class="nav-item">
                    <a href="/ships/add" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Add new ship</p>
                    </a>
                  </li>
                <li class="nav-item">
                  <a href="/ships/shippingStatus/new" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>New ships</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/ships/shippingStatus/inStock" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>In stock ships</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/ships/shippingStatus/withCaptin" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>With captin ships</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/ships/shippingStatus/finshed" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Finshed ships</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/ships/shippingStatus/notSuppled" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Not suppled ships</p>
                  </a>
                </li>
              <%}%>
              <%if(Auth.role == 'captin'){%>
                <li class="nav-item">
                  <a href="/ships/withCaptin" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>With captin ships</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/ships/finshed" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Finshed ships</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/ships/notSuppled" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Not suppled ships</p>
                  </a>
                </li>
              <%}%>
              <%if(Auth.role == 'manager' || Auth.role == 'employee'){%>
                <li class="nav-item">
                  <a href="/ships/receiveStatus/received" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Received ships</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/ships/receiveStatus/rejected" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Rejected ships</p>
                  </a>
                </li>
              <%}%>
            </ul>
          </li>
          <li class="nav-item m-auto">
            <form action="/logout" method="POST">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <button type="submit">Logout</button>
            </form>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>