<%- include('../includes/header')%>
<%- include('../includes/navbar')%>
<%- include('../includes/sidebar')%>
<%- include('../includes/start_content_header')%>
  <div class="col-sm-6">
      <h1 class="m-0">Create user</h1>
  </div><!-- /.col -->
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Create user Page</li>
    </ol>
  </div><!-- /.col -->

<%- include('../includes/end_content_header')%>

<%- include('../includes/start_content')%>


<div class="col-12">
	<div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add user</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <%if(errors){%>
                <%errors.forEach(error => {%>
                <p style="color:red;"><%= error.msg%></p>
                <%})%>
              <%}%>
              <form action="/users/create" method="POST">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label>Role</label>
                    <select name="role" class="form-control">
                    	<option value="manager">Manager</option>
                    	<option value="employee">Employee</option>
                      <option value="captin">Captin</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="address" class="form-control" id="address" name="address" placeholder="Enter your address">
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="passwordConfirm">Confirm password</label>
                    <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"placeholder="Password">
                  </div>
                <!-- /.card-body -->
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>

</div>
<%- include('../includes/end_content')%>

<%- include('../includes/footer')%>